
/*card styling*/
body {
	font-family: 'Marcellus SC', serif;
}

.product {
	width: 400px;
	border: 2px solid slategray;
	margin: 1%;
}

.image img {
	max-width: 100%;
	border-top: 1px solid slategray;
	border-bottom: 1px solid slategray;
}

.description * {
	text-align: center;
	margin: 0;
}

.description {
	padding: 2%
}


.description h6 {
	padding: 2%;
	font-size: 1.25em;
}

.title {
	text-align: center;
	text-transform: uppercase;
}

/* card layout area */

#product-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/* sold out image */

/*.sold-out {
	position: relative;
	top: -50%;
}*/

/*.sold-out {
	position: absolute;
	top: 0;
}
*/
.product {
	position: relative;
}

.sold-out {
	position: absolute;
	top: 90px;
}
